@font-face {
  font-family: 'Avenir-Next-Regular';
  src: url('../../assets/fonts/AvenirNextLT-Regular.otf') /* IE9 Compat Modes */;
  src: url('../../assets/fonts/AvenirNextLT-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../assets/fonts/AvenirNextLT-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/AvenirNextLT-Regular.woff') format('woff'); /* Pretty Modern Browsers */
}
