:root {
  --text-color: rgb(34, 51, 66);
  --sdos-main-color: #2096f3;
  --font-family: 'Avenir-Next-Regular';
}

.table {
  --bs-table-striped-color: var(--text-color);
  --bs-table-striped-bg: rgb(37, 150, 190, 0.05);
  --bs-table-active-color: var(--text-color);
  --bs-table-active-bg: rgb(37, 150, 190, 0.1);
  --bs-table-hover-color: var(--text-color);
  --bs-table-hover-bg: rgb(37, 150, 190, 0.075);
}
