.container {
  margin: 0px;
}

a {
  cursor: pointer;
}

li.nav-item > a.nav-link.active{
  background-color: var(--sdos-main-color);
  color: white;
}

label {
  color: var(--sdos-main-color);
}

p {
  border-bottom: 1px solid rgb(34, 51, 66, 0.1) !important;
}



